<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sorry! 在线制作</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/w3.css" />
    <!-- your code -->
</head>

<body>
    <div>
        <button id="show_sidebar" class="w3-btn w3-circle w3-text-black w3-white w3-xlarge">☰</button>
    </div>
    <!-- Main Frame -->
    <div class="w3-container w3-display-container w3-half">
        <div class="w3-container">
            <video src="/static/wangjingze/template.mp4" controls="controls" autoplay></video>
            <h1 class="w3-text-blue">在线制作Sorry,动图</h1>
        </div>

        <div class="w3-container">

            <p>
                <label class="w3-text-blue">
                    <b>第一句</b>
                </label>
                <input class="w3-input w3-border" name="first" type="text" placeholder="我就是饿死">
            </p>

            <p>
                <label class="w3-text-blue">
                    <b>第二句</b>
                </label>
                <input class="w3-input w3-border" name="first" type="text" placeholder="死外边 从这跳下去">
            </p>

            <p>
                <label class="w3-text-blue">
                    <b>第三句</b>
                </label>
                <input class="w3-input w3-border" name="first" type="text" placeholder="也不会吃你们 一点东西">
            </p>

            <p>
                <label class="w3-text-blue">
                    <b>第四句</b>
                </label>
                <input class="w3-input w3-border" name="first" type="text" placeholder="真香">
            </p>

            <div id="result">点击按钮开始制作表情包</div>

            <p>
                <button id="submit_btn" class="w3-btn w3-blue">制作</button>
            </p>

        </div>

    </div>
    <script src="/static/cookies.js"></script>
    <script src="/static/main.js"></script>
</body>

</html>